DISCORD_BOT_TOKEN=YOUR_DISCORD_BOT_TOKEN_HERE
DISCORD_APPLICATION_ID=YOUR_APPLICATION_ID_HERE
DISCORD_PUBLIC_KEY=YOUR_PUBLIC_KEY_HERE
DISCORD_GUILD_ID=YOUR_GUILD_ID_HERE
START_GG_API_TOKEN=
BOT_DATA_DIR=
BOT_DATA_PATH=
EVENTS_COMMAND_CHANNEL_ID=
EVENTS_PUBLISH_CHANNEL_ID=
